.app {
    padding-bottom: 100px;
}

.app .container {
    width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.updatetg {
    text-align: left;
}

.button {
    padding: 0 20px;
    border-radius: 4px;
    height: 60px;
    background: teal;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

hr {
    border-color: #e5e5e5;
}
