{# базовая форма страницы #}
{% load static %}
<!DOCTYPE html>
{% csrf_token %}

<html lang="ru">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta content="width=device-width, initial-scale=1" name="viewport">
    <title>
        {% block page_title %} {% endblock %}
    </title>
	<meta content="Лопни шарик" name="description">
	<meta content="Лопни шарик" property="og:description">
	<meta content="Лопни шарик, аттракцион" name="keywords">
	<meta content="website" property="og:type">
	<meta content="Лопни шарик" property="og:site_name">
	<meta content="ru_RU" property="og:locale">
	<link href="{% static 'img/fav/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
	<link href="{% static 'img/fav/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
	<link href="{% static 'img/fav/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
	<link href="{% static 'img/fav/manifest.json' %}" rel="manifest">
	<link href="{% static 'img/fav/safari-pinned-tab.svg' %}" rel="mask-icon">
	<meta content="#00aba9" name="msapplication-TileColor">
	<meta content="#ffffff" name="theme-color">
	<link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/owl.theme.green.min.css' %}" rel="stylesheet">
	<link href="{% static "css/app.min.css" %}" rel="stylesheet">
	<style>    
		.main-text {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			font-size: 20px;
		}
	</style>
</head>

<body itemscope="itemscope" itemtype="http://schema.org/WebPage">
	<header itemscope itemtype="http://schema.org/WPHeader">
		{% include 'includes/header.html' %}
	</header>
	<main>
		<div>
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-10">
					{% include 'includes/upper_menu.html' %}
				</div>
				<div class="col-md-1">
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-3 hidden-xs">
					{% include 'includes/left_menu.html' %}
				</div>
				<div class="col-md-7 content" itemscope itemtype="http://schema.org/Product">
					<article>
						<div class="row">
							<div class="col-md-12" id="content-text">
                                {% block content %}  {% endblock %}
							</div>
						</div>
					</article>
				</div>
				<div class="col-md-1">
				</div>
			</div>
		</div>
	</main>
	<footer itemscope="itemscope" itemtype="http://schema.org/WPFooter">
		{% include 'includes/footer.html' %}
	</footer>
</body>
</html>