{# меню слева #}
{% load static %}
<aside itemscope itemtype="http://schema.org/WPSideBar">
    <nav class="attractions-nav-side">
        {% for topic_object in topic_objects %}
        <section class="item-{{topic_object.item}}" style="font-size: 18px; font-family: sans-serif;">
            <h2>
                <a href="{% url 'attraction:subtopic' topic_object.topic.slug topic_object.st_list.first.slug %}" rel="nofollow">
                    <span class="logo">
                        <img alt="{{ topic_object.topic.name }}" src="{{ topic_object.topic.image.url }}">
                        {% comment %}
                        альтернативный вариант добавления картинки:
                        {% thumbnail message.image "960x339" crop="center" upscale=True as im %}
                        <img class="card-img my-2" src="{{ im.url }}">
                        {% endthumbnail %}
                        {% endcomment %}
                    </span>
                    <span class="title">{{ topic_object.topic.name }}</span>
                </a>
            </h2>
            
            <ul>
                {% for subtopic in topic_object.st_list %}
                <li class="first">
                    <a href="{% url 'attraction:subtopic' topic_object.topic.slug subtopic.slug %}">{{ subtopic.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endfor %}
    </nav>
</aside>