{# меню в верхней части под хедером #}
<ul class="breadcrumb" itemscope="http://schema.org/breadcrumblist">
    {% for menu_item in upper_menu_list %}

    {% if menu_item.link %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="{{ menu_item.link }}" itemprop="item"><span itemprop="name">{{ menu_item.title }}</span></a>
            <meta content="2" itemprop="position">
        </li>
    {% endif %}

    {% if not menu_item.link %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <span itemprop="item"><b>{{ menu_item.title }}</b></span>
            <meta content="3" itemprop="position">
        </li>
    {% endif %}

    {% endfor %}
</ul>